@{
    ViewData["Title"] = "Post";
    
}
@model RecipeModel
<form asp-controller="User" asp-action="Post" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="ThreadTitle"><strong>CHIA SẼ CÔNG THỨC</strong></label>
        <input type="text" placeholder="Thread title" id="ThreadTitle" asp-for="@Model.Title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Content">Nội dung:</label>
        <textarea id="Content" asp-for="@Model.Ingredients" class="form-control"></textarea>
    </div>

    <div style="margin-bot: 5cm;" class="text-center">
        <button type="submit" class="btn btn-primary">Đăng bài</button>
    </div>
</form>

<style>
    .form-group {
        padding-left: 2cm;
        padding-right: 2cm;
        margin-bottom: 1cm; 
    }
</style>


