
@{
    ViewData["Title"] = "Saved";
    Layout = "~/Areas/Client/Views/Shared/_LayoutIndex.cshtml";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="#" class="block-20" style="background-image: url('path_to_image/image_1.jpg');">
                    </a>
                    <div class="text px-4 pt-3 pb-4">
                        <div class="meta">
                            <div><a href="#">August 3, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Recipe 1</a></h3>
                        <p class="clearfix">
                            <a href="#" class="float-left read btn btn-primary">Read more</a>
                            <a href="#" class="float-right meta-chat"><span class="fa fa-trash"></span> Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="#" class="block-20" style="background-image: url('path_to_image/image_1.jpg');">
                    </a>
                    <div class="text px-4 pt-3 pb-4">
                        <div class="meta">
                            <div><a href="#">August 3, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Recipe 2</a></h3>
                        <p class="clearfix">
                            <a href="#" class="float-left read btn btn-primary">Read more</a>
                            <a href="#" class="float-right meta-chat"><span class="fa fa-trash"></span> Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="#" class="block-20" style="background-image: url('path_to_image/image_1.jpg');">
                    </a>
                    <div class="text px-4 pt-3 pb-4">
                        <div class="meta">
                            <div><a href="#">August 3, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Recipe 3</a></h3>
                        <p class="clearfix">
                            <a href="#" class="float-left read btn btn-primary">Read more</a>
                            <a href="#" class="float-right meta-chat"><span class="fa fa-trash"></span> Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="#" class="block-20" style="background-image: url('path_to_image/image_1.jpg');">
                    </a>
                    <div class="text px-4 pt-3 pb-4">
                        <div class="meta">
                            <div><a href="#">August 3, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Recipe 4</a></h3>
                        <p class="clearfix">
                            <a href="#" class="float-left read btn btn-primary">Read more</a>
                            <a href="#" class="float-right meta-chat"><span class="fa fa-trash"></span> Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="#" class="block-20" style="background-image: url('path_to_image/image_1.jpg');">
                    </a>
                    <div class="text px-4 pt-3 pb-4">
                        <div class="meta">
                            <div><a href="#">August 3, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Recipe 5</a></h3>
                        <p class="clearfix">
                            <a href="#" class="float-left read btn btn-primary">Read more</a>
                            <a href="#" class="float-right meta-chat"><span class="fa fa-trash"></span> Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="#" class="block-20" style="background-image: url('path_to_image/image_1.jpg');">
                    </a>
                    <div class="text px-4 pt-3 pb-4">
                        <div class="meta">
                            <div><a href="#">August 3, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Recipe 6</a></h3>
                        <p class="clearfix">
                            <a href="#" class="float-left read btn btn-primary">Read more</a>
                            <a href="#" class="float-right meta-chat"><span class="fa fa-trash"></span> Delete</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="#" class="block-20" style="background-image: url('path_to_image/image_1.jpg');">
                    </a>
                    <div class="text px-4 pt-3 pb-4">
                        <div class="meta">
                            <div><a href="#">August 3, 2020</a></div>
                            <div><a href="#">Admin</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Recipe 7</a></h3>
                        <p class="clearfix">
                            <a href="#" class="float-left read btn btn-primary">Read more</a>
                            <a href="#" class="float-right meta-chat"><span class="fa fa-trash"></span> Delete</a>
                        </p>
                    </div>
                </div>
            </div>
 
        </div>
        <div class="row no-gutters my-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Số lượng bài viết đã lưu
    var totalRecipes = 10; // Thay đổi thành số lượng bài viết thực tế

    // Số lượng bài viết trên mỗi trang
    var recipesPerPage = 6;

    // Tính toán số lượng trang
    var totalPages = Math.ceil(totalRecipes / recipesPerPage);

    // Hiển thị các liên kết trang
    var pagination = document.querySelector('.block-27 ul');
    for (var i = 1; i <= totalPages; i++) {
        var li = document.createElement('li');
        var a = document.createElement('a');
        a.href = '#';
        a.innerText = i;
        li.appendChild(a);
        pagination.appendChild(li);
    }

    // Đánh dấu trang hiện tại
    var currentPage = 1; // Thay đổi thành trang hiện tại
    var currentPageLink = document.querySelector('.block-27 ul li:nth-child(' + currentPage + ')');
    currentPageLink.classList.add('active');

    // Xử lý khi nhấn vào mỗi trang
    var pageLinks = document.querySelectorAll('.block-27 ul li');
    pageLinks.forEach(function (link) {
        link.addEventListener('click', function () {
            // Loại bỏ lớp 'active' khỏi tất cả các liên kết trang
            pageLinks.forEach(function (pageLink) {
                pageLink.classList.remove('active');
            });

            // Đánh dấu trang hiện tại
            this.classList.add('active');
            currentPage = parseInt(this.innerText); // Cập nhật trang hiện tại

            // Hiển thị các bài viết tương ứng với trang hiện tại
            var startIndex = (currentPage - 1) * recipesPerPage + 1;
            var endIndex = Math.min(currentPage * recipesPerPage, totalRecipes);

            // Ẩn tất cả các bài viết
            var recipes = document.querySelectorAll('.card-body ul li');
            recipes.forEach(function (recipe) {
                recipe.style.display = 'none';
            });

            // Hiển thị các bài viết trên trang hiện tại
            for (var i = startIndex; i <= endIndex; i++) {
                recipes[i - 1].style.display = 'block';
            }
        });
    });
</script>



